* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
   
}



main {
 max-width: 80rem;
 margin: 0 auto;
 padding: 1rem;
    
}

body {
    position: relative; /* necessário para o pseudo-elemento */
    background-color: var(--background-primary);
}

/* Pseudo-elemento para a imagem de background com opacidade */
body::before {
    content: "";
    position: absolute;
    inset: 0; /* cobre todo o body */
    background-image: url(../assets/icon/Linha.svg);
    background-position: center;
    opacity: 0.1; /* ajuste a opacidade desejada */
    z-index: 0; /* fica atrás do conteúdo */
    pointer-events: none; /* não interfere em cliques */
}

/* Certifique-se que o conteúdo fique acima */
body > * {
    position: relative;
    z-index: 1;
    
}


a {
  text-decoration: none;
  
}


h1 {
font: var(--font-sora-display-large);
text-transform: uppercase;
}

h2 {
    font: var(  --font-roboto-flex-label-medium);
    text-transform: uppercase;
    font-weight: 600;

}

span {
  font: var(--font-roboto-flex-label-medium);
  color: var(--accent-pink);
}

p {
    font: var(--font-sora-paragraph-large) ;
}

h3 {
    font: var(--font-sora-paragraph-large);
}

.none {
  display: none !important;
}

.result {
  text-align: center;
  margin-top: 5rem;


  & form {
    justify-content: center;
  }
}

.component-menu-numbers {
 

  & span {
    font-size: 1.8rem;
    font-weight: 500;
  }

}






      



       






        #btn-run {
          width: 100%;
        }


    




input {
 
    border: none;
    background-color: var(--background-gray);
    border-radius: 1rem;

    display: flex;
    align-items: center;   /* vertical */
    justify-content: center; /* horizontal */

    text-align: center;
    font: var(--font-sora-display-medium);
    height: 3rem;
}


