  

        @media (max-width:1070px) {

            section.hero {
                display: flex;
                flex-direction: column;
            }
                  #como-funciona-div {
                  display: none;
        }

        #aside-02 {
  .display-none-02 {
    display: block;
    padding-block: 2rem;
  }

  main {
    justify-content: center;
  }
}

#aside-02 .menu-sorteio-run {
    .animation-numeros-div {
       justify-content: center;
    }
}

        }

        