

:root {
  /* Content */
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  /* Background */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3d3d3d21;

  /* Accent */
  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0A;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  /* Gradient */
  --gradient-border: linear-gradient(90deg, #77C0AF 0%, #D1DC97 44.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  --gradient-background: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);
  --gradient-content: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 100%);



  /* Font Families */

  /* Font - Sora */
  --font-sora-display-large: 700 4.5rem/150% "Sora", sans-serif;
  --font-sora-display-medium: 700 2.5rem/150% "Sora", sans-serif;
  --font-sora-display-small: 700 2rem/150% "Sora", sans-serif;
  --font-sora-label-medium: 500 1.25rem/130% "Sora", sans-serif;
  --font-sora-label-small: 500 1rem/130% "Sora", sans-serif;
  --font-sora-paragraph-large: 400 1rem/150% "Sora", sans-serif;
  --font-sora-paragraph-medium: 400 0.875rem/150% "Sora", sans-serif;
  --font-sora-paragraph-small: 400 0.75rem/150% "Sora", sans-serif;

  /* Font - Roboto Flex */
  --font-roboto-flex-display-large: 700 4.5rem/150% "Roboto Flex", sans-serif;
  --font-roboto-flex-label-medium: 500 1.25rem/130% "Roboto Flex", sans-serif;
  --font-roboto-flex-paragraph-medium: 400 0.875rem/150% "Roboto Flex", sans-serif;

  /* Font - Roboto Mono */
  --font-roboto-mono-display-small: 700 2rem/130% "Roboto Mono", monospace;
  --font-roboto-mono-paragraph-large: 400 1rem/150% "Roboto Mono", monospace;
  --font-roboto-mono-paragraph-small: 400 0.75rem/150% "Roboto Mono", monospace;



}

.container {
    padding-inline: 4rem;
    max-width: 80rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    
}

.column-flow {
    grid-auto-flow: column;
}